{%load static%}

<div class="container-fluid p-0">
    <div class="cover d-flex align-items-center justify-content-center text-white">
        <img src="static/blog/img/Rectangle 3.png" alt="Cover" class="img-fluid w-100 cover">
        <div class="row position-absolute mx-5">
        <div class="cover-text col-lg-6 col-sm-12 bg-blue">
            <h1 class="display-2 fw-bold text-white">Your Journey</h1>
            <h1 class="display-2 fw-bold text-white">Your Car</h1>
            <h1 class="display-2 fw-bold text-white">Your Way</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deserunt tenetur ipsum ducimus harum recusandae dignissimos repellendus ipsam voluptate laudantium? Debitis sint praesentium ratione illo optio molestiae adipisci, iusto vero? Quos ab assumenda eveniet ducimus ex, sed omnis sit libero! </p>
        </div>
        <div class="col-lg-6"></div>
        </div>
    </div>
</div>