{%extends 'base.html'%} 

{% block content %}

{% include 'blog/partials/_cover.html' %}
<div class="container-fluid mx-5">
    <div class="row m-3">
            <h1>All Blogs</h1>
            <hr>
            {% if blogs|length > 0 %}

                {% for blog in blogs %}
                    {% if blog.is_active %}
                        {% include 'blog/partials/_blogscard.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Hiç blog bulunamadı.</div>
            {% endif %}
    </div>
</div>
{% endblock %}

{% block js_files %} {%endblock%}
